@import "../../index.scss";

.footer {
  width: 100%;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  background: linear-gradient(
    0deg,
    rgba(201, 211, 222, 1) 0%,
    rgba(255, 255, 255, 1) 31%,
    rgba(255, 255, 255, 1) 67%
  );
  color: white;
  padding-bottom: 30px;
  img {
    width: 200px;
    padding: 20px;
    cursor: pointer;
  }
}
.footer-bg {
  background-color: $primary-gold;
  height: 80px;
  width: 100%;
  text-align: center;
  h1 {
    font-size: 30px;
    font-weight: 700;
  }
}

.fLists {
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 1024px;
}

.fList {
  list-style: none;
  padding: 0;
}

.fListItem {
  margin-bottom: 10px;
  cursor: pointer;
}

.fText {
  color: $primary-gray;
}
.footer-aside {
  display: flex;
  width: auto;
  justify-content: space-between;
  color: black;
  width: calc(100% - 305px);
  padding-right: 50px;
}

.footer-text-box {
  color: $primary-gray;
  :first-child {
    font-weight: 700;
    color: $primary-blue;
  }
}
.border {
  border-bottom: 1px solid $primary-gray;
  margin-bottom: 30px;
  padding-bottom: 20px;
}
.footer-more {
  display: flex;
  flex-wrap: wrap;
  width: 220px;
  margin-left: 30px;
  color: $primary-gray;
  text-align: center;
  list-style-type: none;
  padding-left: 0px;
  li {
    padding: 5px;
    cursor: pointer;
    width: 100px;
  }
  * {
    text-decoration: none;
    color: $primary-gray;
  }
}

@media screen and (max-width: 980px) {
  .footer-bg {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 18px;
      text-align: center;
      margin: 2px;
    }
  }

}
@media screen and (max-width: 750px) {
  .border{
    flex-direction: column;
  }
  .footer-aside{
    width: 90%;
    margin: 0px 20px;
    padding: 0px;
  }
  .footer-more{
    width: 90%;
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 450px) {
  .footer-aside{
    flex-direction: column;
    text-align: center;
  }
  .fLists{
    justify-content: center;
  }
}