@import "../../index.scss";

.card {
  margin: 0px 10px 20px 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
  transition: transform 100ms ease-in;
  align-items: center;
  cursor: pointer;
  width: 30%;
  background-color: white;
  img {
    object-fit: fill;
    min-width: 300px;
    height: 200px;
    width: 100%;
  };
  *{
    text-decoration: none;
    color: $primary-blue;
  }
  a{
    display: flex;
    flex-direction: column;
  }
}

.card:hover {
  transform: scale(1.06);
}

.card__info {
  margin-top: -9px;
  border-radius: 10px;
  padding: 20px;
  padding-top: 20px;
  height: 200px;
  
  h2 {
    font-size: 18px;
    font-weight: 600;
  };

}

.description {
  font-size: 10px;
  font-weight: 100;
}

.btn{
  padding: 9px 13px 10px 14px;
  border: none;
  transition: 0.2s ease-in-out;
  border-radius: 5px;
  cursor:pointer;
  background-color: $primary-blue;
  color: white;
  &:hover{
    background-color: $secondary-blue;
  }
}
